@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .svg {
    position: fixed;
    top: 45vh;
    left: 45vw;
    margin: 0px;
    padding: 0px;
    width: 10vw;

    animation: spin 1.5s infinite linear;
  }

  .loder-main{
    display: flex;
    height: 100vh;
    width: 100vw;
  }